.logoStyle {
  margin-right: 25px;
}

@media screen and (max-width: 60em) {
  .logoStyle {
    max-width: 300px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 30em) {
  .logoStyle {
    margin-left: 10px;
    max-width: 250px;
    margin-right: 10px;
  }
}

.navBar {
  display: flex;
  justify-content: space-between;
}
